<p data-start="83" data-end="114"><strong data-start="83" data-end="112">Gentile {{nome_cliente}},</strong></p>
<p data-start="116" data-end="290">La tua prenotazione &egrave; stata completata con successo. Speriamo di averti
    offerto un servizio all&rsquo;altezza delle tue aspettative e di aver risolto il problema del tuo veicolo.</p>
<p data-start="292" data-end="469">Se sei soddisfatto del nostro lavoro, ti saremmo grati se potessi dedicarci un minuto
    per lasciare una recensione sulla nostra autofficina. Il tuo feedback &egrave; prezioso per noi!</p>
<p data-start="471" data-end="505">👉 <a href="google.com" data-start="474" data-end="503">Lascia una recensione</a></p>
<p data-start="507" data-end="564">Grazie per la fiducia e per il tempo che ci dedicherai.</p>
<p data-start="566" data-end="634"><strong data-start="566" data-end="586">Cordiali saluti,</strong><br data-start="586"
        data-end="589" /><strong data-start="589" data-end="632">Il Team di Autoriparazioni San Bernardo</strong></p>
<p data-start="1041" data-end="1098"><span style="font-size: 10pt;">&copy; 2024 Autoriparazioni San Bernardo di Carrara
        Agostino</span></p>