<p data-start="155" data-end="186"><strong data-start="155" data-end="184">Gentile {{nome_cliente}},</strong></p>
<p data-start="188" data-end="263">Ti confermiamo che la tua prenotazione &egrave; stata cancellata come richiesto.</p>
<p data-start="265" data-end="449">Se hai effettuato la cancellazione per errore o hai riscontrato problemi con il
    nostro portale, ti invitiamo a contattarci al numero <strong data-start="398" data-end="418">+39 3XX XXX
        XXXX</strong>. Saremo lieti di assisterti.</p>
<p data-start="451" data-end="519"><strong data-start="451" data-end="471">Cordiali saluti,</strong><br data-start="471"
        data-end="474" /><strong data-start="474" data-end="517">Il Team di Autoriparazioni San Bernardo</strong></p>
<p data-start="1041" data-end="1098"><span style="font-size: 10pt;">&copy; 2024 Autoriparazioni San Bernardo di Carrara
        Agostino</span></p>