<p data-start="152" data-end="175"><strong data-start="152" data-end="173">Gentile {{nome_cliente}},</strong></p>
<p data-start="177" data-end="279">Grazie per aver prenotato presso <strong data-start="210"
        data-end="242">Autoriparazioni San Bernardo</strong>. Siamo lieti di poterti assistere!</p>
<p data-start="281" data-end="526">Un nostro operatore prender&agrave; in carico la tua richiesta al pi&ugrave; presto.
    Ti informiamo che <strong>la data e l'orario selezionati potrebbero subire variazioni in base alla
        disponibilit&agrave;</strong>. In tal caso, ti contatteremo per concordare un nuovo appuntamento.</p>
<p data-start="528" data-end="578">Di seguito, il riepilogo della tua prenotazione:</p>
<p data-start="580" data-end="610"><strong data-start="580" data-end="608">📌 Dettagli Prenotazione</strong></p>
<ul data-start="611" data-end="907">
    <li data-start="611" data-end="656"><strong data-start="613" data-end="632">Nome e Cognome:</strong>
        {{nome_cliente}}</li>
    <li data-start="657" data-end="708"><strong data-start="659" data-end="682">Numero di Telefono:</strong>
        {{numero_telefono}}</li>
    <li data-start="709" data-end="761"><strong data-start="711" data-end="735">Codice Prenotazione:</strong>
        {{codice_prenotazione}}</li>
    <li data-start="762" data-end="806"><strong data-start="764" data-end="779">Data e Ora:</strong>
        {{dataora_prenotazione}}</li>
    <li data-start="807" data-end="848"><strong data-start="809" data-end="821">Veicolo:</strong> {{veicolo}}</li>
    <li data-start="849" data-end="907"><strong data-start="851" data-end="880">Descrizione del problema:</strong>
        {{problema_descrizione}}</li>
</ul>
<p data-start="909" data-end="973">Per qualsiasi necessit&agrave; o modifica, non esitare a contattarci al numero +39
    3XX XXX XXXX&nbsp;</p>
<p data-start="975" data-end="1039">Cordiali saluti,<br data-start="991" data-end="994" /><strong data-start="994"
        data-end="1037">Il Team di Autoriparazioni San Bernardo</strong></p>
<p data-start="1041" data-end="1098"><span style="font-size: 10pt;">&copy; 2024 Autoriparazioni San Bernardo di Carrara
        Agostino</span></p>