<p data-start="152" data-end="183"><strong data-start="152" data-end="181">Gentile {{nome_cliente}},</strong></p>
<p data-start="185" data-end="239">La tua prenotazione &egrave; stata confermata con successo!</p>
<p data-start="241" data-end="323">Ti invitiamo a presentarti nella data e ora selezionate durante la prenotazione.</p>
<p data-start="325" data-end="355"><strong data-start="325" data-end="353">📌 Dettagli Prenotazione</strong></p>
<ul data-start="356" data-end="630">
    <li data-start="356" data-end="396"><strong data-start="358" data-end="377">Nome e Cognome:</strong>
        {{nome_cliente}}</li>
    <li data-start="397" data-end="444"><strong data-start="399" data-end="422">Numero di Telefono:</strong>
        {{numero_telefono}}</li>
    <li data-start="445" data-end="497"><strong data-start="447" data-end="471">Codice Prenotazione:</strong>
        {{codice_prenotazione}}</li>
    <li data-start="498" data-end="542"><strong data-start="500" data-end="515">Data e Ora:</strong>
        {{dataora_prenotazione}}</li>
    <li data-start="543" data-end="571"><strong data-start="545" data-end="557">Veicolo:</strong> {{veicolo}}</li>
    <li data-start="572" data-end="630"><strong data-start="574" data-end="603">Descrizione del problema:</strong>
        {{problema_descrizione}}</li>
</ul>
<p data-start="632" data-end="778">Nel caso in cui dovessi riscontrare contrattempi o necessitare ulteriori
    informazioni, non esitare a contattarci al numero <strong data-start="755" data-end="775">+39 3XX XXX XXXX</strong>.
</p>
<p data-start="780" data-end="848"><strong data-start="780" data-end="800">Cordiali saluti,</strong><br data-start="800"
        data-end="803" /><strong data-start="803" data-end="846">Il Team di Autoriparazioni San Bernardo</strong></p>
<p data-start="1041" data-end="1098"><span style="font-size: 10pt;">&copy; 2024 Autoriparazioni San Bernardo di Carrara
        Agostino</span></p>